<!DOCTYPE html>
<head>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <p>Hi {{firstName}} {{lastName}}, <br><br> You cancelled your registration for the following event: </p>
    <p> Event name: {{nameEvent}} </p>
    <p> Description: {{description}} </p>
    <p> Start Date: {{startDate}} </p>
    <p> End Date: {{endDate}} </p>
    <p> Location: {{location}}</p>
    <p> Participants: {{currentParticipants}} </p>
    <img src="https://i.pinimg.com/474x/3d/05/56/3d0556b5cbcec7b03aaf29e04d140021.jpg">
</body>
<html>